<body>
    <div>
        <h2>Complete your profile</h2>
        <label>Where are you based?</label>
        <input type="text" name="location" placeholder="Los Angeles" id="location">
        <label>How long have you been living there?</label>
        <input type="text" name="duration" placeholder="3 years" id="duration">
        <label>Describe your interests and hobbies</label>
        <textarea
            name="bio"
            placeholder="I'm a avid biker who likes to be outdoors on most weekends and I also ejoy jazz music in my quiet time."
            maxlength="500"
            id="bio"
        ></textarea>
        <button id="complete-profile">Submit</button>
    </div>
</body>