<body>
    <div>
        <h2>Plan your trip</h2>
        <label>Where are you going?</label>
        <input type="text" name="location" placeholder="Los Angeles" id="location">
        <label>When are you going?</label>
        <input type="date" name="startDate" id="startDate">
        <label>When are you coming back?</label>
        <input type="date" name="endDate" id="endDate">
        <label>What type of service do you need?</label>
        <div class="types">
            <div class="type" id="humanized">
               <span style="font-size: 1.2vw; font-weight: 600">Humanized</span> <br><br>
                Have a trusted local with you during the trip at all times. <br><br>
                $49<sup>99</sup>/hr.
            </div>
            <div class="type" id="personalized">
                <span style="font-size: 1.2vw; font-weight: 600">Personalized</span> <br><br>
                Schedule a consultation session with a trusted local. <br><br>
                $29<sup>99</sup>/hr.
            </div>
            <div class="type" id="conversational">
                <span style="font-size: 1.2vw; font-weight: 600">Conversational</span> <br><br>
                Have a trusted local available to you via text in real-time during the trip. <br><br>
                $19<sup>99</sup>/hr.
            </div>
        </div>
        <label>What are you looking for in this trip?</label>
        <textarea
            name="lookingForText"
            placeholder="I would like to go on hikes, treks, or just do something fun outside."
            maxlength="500"
            id="lookingForText"
        ></textarea>
        <button id="create-gig">Create</button>
    </div>
</body>